<h2><%= collection.name %></h2>
<p><%= collection.description %></p>
<div class="pagination">
	<a href="<%= gallery_page %>"><< Back to the gallery</a>
</div>

<ul class="images">
	<% images.each do |image| %>
		<li>
			<% if logged_in %>
				<input type="hidden" value="<%= image.id %>" />
				<div class="delete-image"><a href="#" class="delete-image">Delete</a></div>
			<% end %>
			<a href="<%= image.data.url(:large) %>" rel="collection_images">
				<img src="<%= image.data.url(:medium) %>" />
			</a>
		</li>
		
	<% end %>
</ul>

<%= will_paginate images %>

<script>
	$("a[rel='collection_images']").colorbox();
</script>