<h2>Image Gallery</h2>

<ul class="image-collection-list">
<% collections.each do |x|  %>
	<li>
		<a href="<%= collection_page %>?id=<%= x.id%>">
			<div class="img-wrapper">
				<img src="<%= x.header_image.url %>" />
			</div>
		</a>
		<div class="image-collection-info">
			<a href="<%= collection_page %>?id=<%= x.id%>">
				<span class="title"><%= x.name %></span><br />
			</a>
			<span class="description"><%= x.description %></span>
			<input type="hidden" value="<%= x.id %>">
			<% if logged_in %>
				<a href="#" class="delete-collection">Delete</a>
			<% end %>
		</div>
		
	</li>
<% end %>
</ul>

<%= will_paginate collections %>